/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

a {
  color: white;
}

/* HEADER */

.header {
  text-align: center;
  background-color: white;
  padding: 15px 0;
}

.header .header-text {
  color: #ff9614;
}

/* HERO */

.hero {
  padding-top: 40px;
}

.hero .p-hero {
  color: #aaa;
  padding-bottom: 10px;
}

.hero .vid {
  padding-top: 10px;
  flex-grow: 1;
}

.box-hero {
  background-color: white;
  padding: 20px;
}

.p-box {
  padding: 10px 0;
}

.button {
  padding: 20px 0;
}

.button > .container {
  display: flex;
  flex-wrap: nowrap;
}

.logo-bt {
  cursor: pointer;
  padding: 6px 0;
  width: 29px;
  height: 30px;
  margin: 0px 40px;

  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.presentation {
  padding: 20px 0;
}

.image {
  padding: 20px 0;
}

.image-tù {
  width: 300px;
  height: 300px;
  margin-left: 100px;
}

/* FOOTER */

.footer {
  height: 150px;
  background-color: #7c69a4;
  color: white;
}

.footer .list-item,
.title-footer {
  list-style-type: none;
  margin-left: 60px;
  padding-top: 20px;
}

.footer .list-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.footer .title-ft {
  margin-left: 60px;
  padding: 10px 0;
}

.footer .item {
  margin: 0 10px;
}

/* ####### MEDIA QUERY ########## */

@media screen and (min-width: 768px) {
  .header-text {
    text-align: left;
  }

  .box-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0;
    gap: 2rem;
  }

  .hero-tradition {
    display: inline;
  }

  .logo-bt {
    width: 80px;
    margin: 0px 10px;
  }

  .banner {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
